.jumbotron{
    background-image: url("https://www.nypl.org/sites/default/files/8435321969_c1eea0631a_o.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px; 
    width: 100%;
    padding-top: 10; 
    text-align: center;
    }